# Aula 01 - Resolução dos Exercícios

## Novas perguntas do CEO para vocês
1. Quantas casas estão disponíveis para compra?
2. Quantos atributos as casas possuem?
3. Quais são os atributos das casas?
4. Qual a casa mais cara ( casa com o maior valor de venda )?
5. Qual a casa com o maior número de quartos?

6. Qual a soma total de quartos do conjunto de dados?
7. Quantas casas possuem 2 banheiros?
8. Qual o preço médio de todas as casas no conjunto de dados?
9. Qual o preço médio de casas com 2 banheiros?
10. Qual o preço mínimo entre as casas com 3 quartos?

11. Quantas casas possuem mais de 300 metros quadrados na sala de estar?
12. Quantas casas tem mais de 2 andares?
13. Quantas casas tem vista para o mar?
14. Das casas com vista para o mar, quantas tem 3 quartos?
15. Das casas com mais de 300 metros quadrados de sala de estar, quantas tem mais de 2 banheiros?

## Carregando dados

Link do dataset
https://www.kaggle.com/datasets/harlfoxem/housesalesprediction

In [1]:
import numpy  as np
import pandas as pd

In [2]:
data = pd.read_csv(r'C:\Users\mlsil\OneDrive\Documentos\repos\python_zero_ao_ds\csv\kc_house_data.csv')

In [3]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

## 1. Quantas casas estão disponíveis para compra?

In [4]:
# Selecionar a coluna "id"
# Contar o número de valores únicos

# Solução #1
houses = len(data['id'].unique())
print('O número de casas disponíveis é de {} !'.format(houses))

O número de casas disponíveis é de 21436 !

In [5]:
# Solução #2
houses = len(data['id'].drop_duplicates())
print(f'O número de casas disponíveis é de {houses} !')

O número de casas disponíveis é de 21436 !

## 2. Quantos atributos as casas possuem?

In [6]:
# Considerações:
# AS colunas 'id' e 'date' não são os atributos das casas
len(data.columns) -2

19

In [7]:
len(data.drop(['id', 'date'], axis=1).columns)

19

## 3. Quais são os atributos das casas?

In [8]:
# Considerações:
# AS colunas 'id' e 'date' não são os atributos das casas
data.drop(['id', 'date'], axis=1).columns

Index(['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15'],
      dtype='object')

## 4. Qual a casa mais cara ( casa com o maior valor de venda )?

In [9]:
# Resetar o index para não pegar valores errados
data[['id', 'price']].sort_values('price', ascending=False).reset_index(drop=True).loc[0, 'id']

6762700020

## 5. Qual a casa com o maior número de quartos?

In [10]:
# Resetar o index para não pegar valores errados
data[['id', 'bedrooms']].sort_values('bedrooms', ascending=False).reset_index(drop=True).loc[0, 'id']

2402100895

## 6. Qual a soma total de quartos do conjunto de dados?

In [11]:
# Método pandas
data['bedrooms'].sum()

72854

In [12]:
# Método numpy
np.sum(data['bedrooms'])

72854

## 7. Quantas casas possuem 2 banheiros?

In [13]:
# Filtrar somente os valores 'id' cujo valor da coluna 'bathroom é igual a 2'
# Selecionar as colunas 'id' e 'bathroom'
# Contar o numero de valores da coluna 'id'

houses = len(data.loc[data['bathrooms'] == 2, ['id', 'bathrooms']])
print(f'O número de casas que possuem 2 banheiros é de {houses}.')

O número de casas que possuem 2 banheiros é de 1930.

## 8. Qual o preço médio de todas as casas no conjunto de dados?

In [14]:
# Recomendado fazer o dtypes primeiro para verificar o tipo de objeto que é.
data['price'].mean()

540088.1417665294

In [15]:
# Biblioteca numpy
# Arredondamento de 2 casas
np.round(data['price'].mean(), 2)

540088.14

## 9. Qual o preço médio de casas com 2 banheiros?

In [16]:
# Biblioteca numpy
# Arredondamento de 2 casas
np.round(data.loc[data['bathrooms'] == 2, 'price'].mean(), 2)

457889.72

## 10. Qual o preço mínimo entre as casas com 3 quartos?

In [17]:
# Solução 1
data.loc[data['bedrooms'] == 3, 'price'].min()

82000.0

In [18]:
# Solução 2
data.loc[data['bedrooms'] == 3, ['id', 'price']].sort_values('price', ascending=True).head()

               id    price
8274   3883800011  82000.0
13756  1788900230  86500.0
5866   9320900420  89000.0
18939  4239400300  90000.0
5723   1788800630  96500.0

## 11. Quantas casas possuem mais de 300 metros quadrados na sala

In [19]:
# Criar coluna 'm2'
# Converter primeiro o 'sqft_living' para metros quadrados
data['m2'] = data['sqft_living'] * 0.093

len(data.loc[data['m2'] > 300, 'id'])

2258

## 12. Quantas casas tem mais de 2 andares?

In [20]:
# Solução 1
len(data.loc[data['floors'] > 2, 'id'])

782

In [21]:
# Solução 2
data.loc[data['floors'] > 2, 'id'].size

782

## 13. Quantas casas tem vista para o mar?

In [22]:
len(data.loc[data['waterfront'] == 1, 'id'])

163

## 14. Das casas com vista para o mar, quantas tem 3 quartos?

In [23]:
#(data['waterfront'] == 1) & (data['bedrooms'] == 3)
len(data.loc[(data['waterfront'] == 1) & (data['bedrooms'] == 3), 'id'])

64

## 15. Das casas com mais de 300 metros quadrados de sala de estar, quantas tem mais de 2 banheiros?

In [24]:
#(data['m2'] > 300) & (data['bathrooms'] > 2)

len(data.loc[(data['m2'] > 300) & (data['bathrooms'] > 2), 'id'])

2201