
# Aula 02- Resolução dos Exercícios
## Novas perguntas do CEO para vocês
1. Crie uma nova coluna chamada: “house_age”</br>
• Se o valor da coluna “date” for maior que 2014-01-01 => ‘new_house’</br>
• Se o valor da coluna “date” for menor que 2014-01-01 => ‘old_house’</br>
2. Crie uma nova coluna chamada: “dormitory_type”</br>
• Se o valor da coluna “bedrooms” for igual à 1 => ‘studio’</br>
• Se o valor da coluna “bedrooms” for igual a 2 => ‘apartament’</br>
• Se o valor da coluna “bedrooms” for maior que 2 => ‘house’</br>
3. Crie uma nova coluna chamada: “condition_type”</br>
• Se o valor da coluna “condition” for menor ou igual à 2 => ‘bad’</br>
• Se o valor da coluna “condition” for igual à 3 ou 4 => ‘regular’</br>
• Se o valor da coluna “condition” for igual à 5 => ‘good’</br>
4. Modifique o TIPO a Coluna “condition” para STRING
5. Delete as colunas: “sqft_living15” e “sqft_lot15”
6. Modifique o TIPO a Coluna “yr_build” para DATE
7. Modifique o TIPO a Coluna “yr_renovated” para DATE
8. Qual a data mais antiga de construção de um imóvel?
9. Qual a data mais antiga de renovação de um imóvel?
10. Quantos imóveis tem 2 andares?
11. Quantos imóveis estão com a condição igual a “regular” ?
12. Quantos imóveis estão com a condição igual a “bad”e possuem “vista para água” ?
13. Quantos imóveis estão com a condição igual a “good” e são “new_house”?
14. Qual o valor do imóvel mais caro do tipo “studio” ?
15. Quantos imóveis do tipo “apartment” foram reformados em 2015 ?
16. Qual o maior número de quartos que um imóveis do tipo “house” possui ?
17. Quantos imóveis “new_house” foram reformados no ano de 2014?

### Carregando o dados

Link do dataset
https://www.kaggle.com/datasets/harlfoxem/housesalesprediction

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv(r'C:\Users\mlsil\OneDrive\Documentos\repos\python_zero_ao_ds\csv\kc_house_data.csv')

### 1. Crie uma nova coluna chamada: “house_age”
- Se o valor da coluna “date” for maior que 2014-01-01 => ‘new_house’
- Se o valor da coluna “date” for menor que 2014-01-01 => ‘old_house’

In [3]:
data['date'] = pd.to_datetime(data['date'], format='%Y-%m-%d')
data['house_age'] = data['date'].apply(lambda x: 'new_house' if x > pd.to_datetime('2014-01-01', format='%Y-%m-%d') else 'old_house')
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,house_age
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,new_house
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,new_house
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,new_house
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,new_house
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,new_house

### 2. Crie uma nova coluna chamada: “dormitory_type”
- Se o valor da coluna “bedrooms” for igual à 1 => ‘studio’
- Se o valor da coluna “bedrooms” for igual a 2 => ‘apartament’
- Se o valor da coluna “bedrooms” for maior que 2 => ‘house’

In [4]:
#data['bedrooms'].unique()
data['dormitory_type'] = data['bedrooms'].apply(lambda x: 'studio' if x == 1 else 'apartament' if x == 2 else 'house' if x > 2 else 'NA')

### 3. Crie uma nova coluna chamada: “condition_type”
- Se o valor da coluna “condition” for menor ou igual à 2 => ‘bad’
- Se o valor da coluna “condition” for igual à 3 ou 4 => ‘regular’
- Se o valor da coluna “condition” for igual à 5 => ‘good’

In [5]:
#data['condition'].unique()
data['condition_type'] = data['condition'].apply(lambda x: 'bad' if x <= 2 else 'regular' if (x==3) | (x==4) else 'good')

### 4. Modifique o TIPO a Coluna “condition” para STRING

In [6]:
data['condition'] = data['condition'].astype(str)
#data.dtypes

### 5. Delete as colunas: “sqft_living15” e “sqft_lot15”

In [7]:
data = data.drop(columns=['sqft_living15', 'sqft_lot15'])
#data.columns

### 6. Modifique o TIPO a Coluna “yr_built” para DATE

In [8]:
data['yr_built'] = pd.to_datetime(data['yr_built'], format='%Y')
#data.dtypes

### 7. Modifique o TIPO a Coluna “yr_renovated” para DATE

In [9]:
data['yr_renovated'] = data['yr_renovated'].apply(lambda x: pd.to_datetime('1900-01-01', format='%Y-%m-%d') if x == 0 else pd.to_datetime(x, format='%Y'))
#data.dtypes

### 8. Qual a data mais antiga de construção de um imóvel?

In [10]:
data['yr_built'].min()

Timestamp('1900-01-01 00:00:00')

### 9. Qual a data mais antiga de renovação de um imóvel?

In [11]:
data.loc[data['yr_renovated'] > pd.to_datetime('1900-01-01', format='%Y-%m-%d'), 'yr_renovated'].min()

Timestamp('1934-01-01 00:00:00')

### 10. Quantos imóveis tem 2 andares?

In [12]:
data.loc[data['floors'] == 2, 'id'].size

8241

### 11. Quantos imóveis estão com a condição igual a “regular” ?

In [13]:
data.loc[data['condition_type'] == 'regular', 'id'].size

19710

### 12. Quantos imóveis estão com a condição igual a “bad”e possuem “vista para água" ?

In [14]:
data.loc[(data['condition_type'] == 'bad') & (data['waterfront'] == 1), 'id'].size

2

### 13. Quantos imóveis estão com a condição igual a “good” e são "new_house"

In [15]:
data.loc[(data['condition_type'] == 'good') & (data['house_age'] == 'new_house'), 'id'].size

1701

### 14. Qual o valor do imóvel mais caro do tipo “studio” ?

In [16]:
data.loc[data['dormitory_type'] == 'studio', 'price'].max()

1247000.0

### 15. Quantos imóveis do tipo “apartment” foram reformados em 2015 ?

In [17]:
data.loc[data['yr_renovated'] == pd.to_datetime('2015-01-01'), 'id'].size

16

### 16. Qual o maior número de quartos que um imóveis do tipo “house” possui ?

In [18]:
data.loc[data['dormitory_type'] == 'house', 'bedrooms'].max()

33

### 17. Quantos imóveis “new_house” foram reformados no ano de 2014?

In [19]:
data.loc[(data['house_age'] == 'new_house') & (data['yr_renovated'] == pd.to_datetime('2014-01-01', format='%Y-%m-%d')), 'id'].size

91

### 18 Selecione as colunas: “id”, “date”, “price”, “floors”, “zipcode” pelo método:
- Direto pelo nome das colunas
- Pelos índices
- Pelos índices das linhas e o nome das colunas
- Índices Booleanos

In [20]:
# método 01
data[['id', 'date', 'price', 'floors', 'zipcode']]

               id       date     price  floors  zipcode
0      7129300520 2014-10-13  221900.0     1.0    98178
1      6414100192 2014-12-09  538000.0     2.0    98125
2      5631500400 2015-02-25  180000.0     1.0    98028
3      2487200875 2014-12-09  604000.0     1.0    98136
4      1954400510 2015-02-18  510000.0     1.0    98074
...           ...        ...       ...     ...      ...
21608   263000018 2014-05-21  360000.0     3.0    98103
21609  6600060120 2015-02-23  400000.0     2.0    98146
21610  1523300141 2014-06-23  402101.0     2.0    98144
21611   291310100 2015-01-16  400000.0     2.0    98027
21612  1523300157 2014-10-15  325000.0     2.0    98144

[21613 rows x 5 columns]

In [21]:
# Método 02
data.iloc[:, [0, 1, 2, 7, 16]]

               id       date     price  floors  zipcode
0      7129300520 2014-10-13  221900.0     1.0    98178
1      6414100192 2014-12-09  538000.0     2.0    98125
2      5631500400 2015-02-25  180000.0     1.0    98028
3      2487200875 2014-12-09  604000.0     1.0    98136
4      1954400510 2015-02-18  510000.0     1.0    98074
...           ...        ...       ...     ...      ...
21608   263000018 2014-05-21  360000.0     3.0    98103
21609  6600060120 2015-02-23  400000.0     2.0    98146
21610  1523300141 2014-06-23  402101.0     2.0    98144
21611   291310100 2015-01-16  400000.0     2.0    98027
21612  1523300157 2014-10-15  325000.0     2.0    98144

[21613 rows x 5 columns]

In [22]:
# Método 03
#data.iloc[0:10, 0:4]
data.iloc[0:10, [0, 1, 2, 7, 16]]

           id       date      price  floors  zipcode
0  7129300520 2014-10-13   221900.0     1.0    98178
1  6414100192 2014-12-09   538000.0     2.0    98125
2  5631500400 2015-02-25   180000.0     1.0    98028
3  2487200875 2014-12-09   604000.0     1.0    98136
4  1954400510 2015-02-18   510000.0     1.0    98074
5  7237550310 2014-05-12  1225000.0     1.0    98053
6  1321400060 2014-06-27   257500.0     2.0    98003
7  2008000270 2015-01-15   291850.0     1.0    98198
8  2414600126 2015-04-15   229500.0     1.0    98146
9  3793500160 2015-03-12   323000.0     2.0    98038

In [23]:
# Método 04
i = [True, True, True, False, False, False, False, True, False, False, False, False, False, False, False, False, True,False, False, False, False, False]
data.iloc[0:10, i]

           id       date      price  floors  zipcode
0  7129300520 2014-10-13   221900.0     1.0    98178
1  6414100192 2014-12-09   538000.0     2.0    98125
2  5631500400 2015-02-25   180000.0     1.0    98028
3  2487200875 2014-12-09   604000.0     1.0    98136
4  1954400510 2015-02-18   510000.0     1.0    98074
5  7237550310 2014-05-12  1225000.0     1.0    98053
6  1321400060 2014-06-27   257500.0     2.0    98003
7  2008000270 2015-01-15   291850.0     1.0    98198
8  2414600126 2015-04-15   229500.0     1.0    98146
9  3793500160 2015-03-12   323000.0     2.0    98038

### 19. Salve um arquivo .csv com somente as colunas do item 10 ao 17.

In [24]:
data[['house_age', 'dormitory_type', 'condition_type']].to_csv(r'C:\Users\mlsil\OneDrive\Documentos\repos\python_zero_ao_ds\csv\exercicio.csv')