## Desafio XGB Sales

In [1]:
# inserção de imagens
from IPython.display import Image

A Xtreme Groovy Bikes Sales é uma empresa de revenda de motocicletas. Seu modelo de nogócio é revender motocicletas usadas. Com a crescente do valor dos veículos usados, a XGB Sales, como é conhecida, deseja expandir os seus negócios. Você foi contratado como cientista de dados pela empresa XGB Sales para ajudá-los a encotrar as melhores motocicletas para revenda.

Para isso, o CEO da empresa fez um estudo de mercado lhe entregou uma base de dados, obtida através desse estudo, para que você consiga auxiliá-lo a encontrar as melhores motocicletas para revenda, aumentando assim o lucro da empresa.

Além disso, o CEO lhe fez algumas perguntas a cerca da base de dados que a empresa possui. Lembrando que o contexto, pessoas e perguntas são completamente fictícios e existem somente na minha imaginação.

A empresa XGB Sales lhe contratou como cientista de dados pois ela deseja aumentar o seu lucro comprando e revendendo as melhores motos disponíveis dentro da base de dados que a empresa adquiriu através de um estudo de mercado. 

Dessa forma, o CEO da XGB Sales lhe fez as seguintes perguntas:

1. Quantas motos temos dentro do Dataset?
2. Qual é o ano da moto mais antiga da base de dados?
3. Qual é o ano da moto mais nova da base de dados?
4. Qual é o valor da moto mais cara da base de dados?
5. Qual é o valor do hodômotro da moto com a maior quilometragem?
6. Qual é o valor do hodômotro da moto com a menor quiilometragem?
7. Das motocicletas que estão sendo expostas dentro de um Show Room, qual é o maior valor registrado na base de dados?
8. Das motocicletas que estão sendo expostas dentro de um Show Room, qual é o menor valor registrado na base de dados?
9. Quantas motocicletas estão sendo vendidades pelos seus donos e quantas estão sendo vendidas por outros revendedores?
10. Qual é a média de valores das motos na base de dados?
11. Qual é a média de ano das motos cadastradas dentro da base de dados?
12. Qual é a média de quilometragem das motos cadastradas dentro da base de dados?
13. Existem quantas motos dentro da base de dados que são motos de um único dono?
14. As motos com menor quilometragem são as motos mais baratas do Dataset?

In [2]:
# bibliotecas

import seaborn as sns
import numpy   as np
import pandas  as pd
import math

In [3]:
# importar dados
df = pd.read_csv('C:\\Users\\mlsil\\OneDrive\\Documentos\\repos\\fundamentos_programacao\\csv\\BIKE DETAILS.csv')
df.head()

,name,selling_price,year,seller_type,owner,km_driven,ex_showroom_price
0,Royal Enfield Classic 350,175000,2019,Individual,1st owner,350,NaN
1,Honda Dio,45000,2017,Individual,1st owner,5650,NaN
2,Royal Enfield Classic Gunmetal Grey,150000,2018,Individual,1st owner,12000,148114.0
3,Yamaha Fazer FI V 2.0 [2016-2018],65000,2015,Individual,1st owner,23000,89643.0
4,Yamaha SZ [2013-2014],20000,2011,Individual,2nd owner,21000,NaN

In [4]:
# Verificação das colunas
df.dtypes

name                  object
selling_price          int64
year                   int64
seller_type           object
owner                 object
km_driven              int64
ex_showroom_price    float64
dtype: object

### Descrição das colunas

| Coluna | Descrição |
| :----- | --------: |
| ID | Identificador da linha/registro |
| name | Fabricante e Modelo da Moto |
| selling_price | Preço de Venda |
| year | Ano de Fabricação da Moto |
| seller_type | Tipo de Vendedor - Se é vendedor pessoal ou revendedor |
| owner | Se é primeiro, segundo, terceiro ou quarto dono da moto |
| km_driven | Quantidade de Quilometros percorrido pela moto |
| ex_showroom_price | Preço da motocicleta sem as taxas de seguro e registro |

### Ajustando os dados das colunas

In [5]:
# Ajustando a coluna para DateTime
df['year'] = pd.to_datetime(df['year'], format='%Y')

# Recuperando somente o ano da coluna
df['year'] = df['year'].dt.year

df.head()

,name,selling_price,year,seller_type,owner,km_driven,ex_showroom_price
0,Royal Enfield Classic 350,175000,2019,Individual,1st owner,350,NaN
1,Honda Dio,45000,2017,Individual,1st owner,5650,NaN
2,Royal Enfield Classic Gunmetal Grey,150000,2018,Individual,1st owner,12000,148114.0
3,Yamaha Fazer FI V 2.0 [2016-2018],65000,2015,Individual,1st owner,23000,89643.0
4,Yamaha SZ [2013-2014],20000,2011,Individual,2nd owner,21000,NaN

In [6]:
# Criando a coluna index para registrarmos
df = df.reset_index()
df = df.rename(columns={'index': 'id'})
df.head()

,id,name,selling_price,year,seller_type,owner,km_driven,ex_showroom_price
0,0,Royal Enfield Classic 350,175000,2019,Individual,1st owner,350,NaN
1,1,Honda Dio,45000,2017,Individual,1st owner,5650,NaN
2,2,Royal Enfield Classic Gunmetal Grey,150000,2018,Individual,1st owner,12000,148114.0
3,3,Yamaha Fazer FI V 2.0 [2016-2018],65000,2015,Individual,1st owner,23000,89643.0
4,4,Yamaha SZ [2013-2014],20000,2011,Individual,2nd owner,21000,NaN

In [7]:
# Deixando a coluna ex_showroom_price e selling_price na mesma grandeza
df['selling_price'] = df['selling_price'].astype(float)
df.head()

,id,name,selling_price,year,seller_type,owner,km_driven,ex_showroom_price
0,0,Royal Enfield Classic 350,175000.0,2019,Individual,1st owner,350,NaN
1,1,Honda Dio,45000.0,2017,Individual,1st owner,5650,NaN
2,2,Royal Enfield Classic Gunmetal Grey,150000.0,2018,Individual,1st owner,12000,148114.0
3,3,Yamaha Fazer FI V 2.0 [2016-2018],65000.0,2015,Individual,1st owner,23000,89643.0
4,4,Yamaha SZ [2013-2014],20000.0,2011,Individual,2nd owner,21000,NaN

### Perguntas e respostas

In [8]:
# 1.Quantas motos temos dentro do DataSet?
# R: A QTD de motos é a quntidade de linhas que temos dentro do dataset

print(f'A quantidade de motos registradas no Dataset é de {df.shape[0]} motos')

A quantidade de motos registradas no Dataset é de 1061 motos

In [9]:
# 2. Qual é o ano da moto mais antiga da base de dados ?
# R: Basta verificarmos qual o menor valor da coluna 'year da base de dados'

antiga = df[df['year'] == df['year'].min()].iloc[0,3]
antiga

1988

In [10]:
# 3. Qual é o ano da moto mais nova da base de dados ?
# R: Basta verificar qual é o menor valor da coluna 'year'

nova = df[df['year'] == df['year'].min()].iloc[0, 3]
nova

1988

In [11]:
# 4. Qual é o valor da moto mais cara da base de dados ?
# R: Basta verificar qual é o maior valor da coluna 'selling_price'

cara = df[df['selling_price'] == df['selling_price'].max()].iloc[0, 2]
#cara

print(f' A moto mais cara da base de dados é de U$$ {cara:.2f}')

 A moto mais cara da base de dados é de U$$ 760000.00

In [12]:
# 5. Qual é o valor do hodômotro da moto m=com a maior quilometragem ?
# R: Basta verificarmos qual é o maior valor da coluna km_driven

maior_km = df[df['km_driven'] == df['km_driven'].max()].iloc[0, 6]
#maior_km

print(f'A moto que possui a maior quilometragem da base de dados andou {maior_km} Km')

A moto que possui a maior quilometragem da base de dados andou 880000 Km

In [13]:
# 6. qual é o valor do hodômetro com a  menor quilometragem ?
# R: Basta verificarmos qual é o menor valor da coluna km_driven

menor_km = df[df['km_driven'] == df['km_driven'].min()].iloc[0, 6]
# menor_km

print(f'A moto que possui a menor quilometragem da base de dados andou {menor_km} Km')

A moto que possui a menor quilometragem da base de dados andou 350 Km

In [14]:
# 7. Dos valores das motos que possuem o valor de venda sem as taxas de registro e seguro, qual seria o 
# maior registrado na base de dados ?
# R: Basta verificarmos qual é o maior valor registrado na coluna 'ex_showroom_price'

ex_cara = df[df['ex_showroom_price'] == df['ex_showroom_price'].max()].iloc[0, -1]
#ex_cara

print(f'O maior valor da moto sem as taxas de registro e seguro é de U$$ {ex_cara:.2f}')

O maior valor da moto sem as taxas de registro e seguro é de U$$ 1278000.00

In [15]:
# 8. Dos valores das motos que possuem o valor de venda sem as taxas de registro e seguro, qual seria o 
# menor registrado na base de dados ?

# R: Basta verificarmos qual é o menor valor registrado na coluna 'ex_showroom_price'

ex_barata = df[df['ex_showroom_price'] == df['ex_showroom_price'].min()].iloc[0, -1]
#ex_barata

print(f'O maior valor da moto sem as taxas de registro e seguro é de U$$ {ex_barata:.2f}')

O maior valor da moto sem as taxas de registro e seguro é de U$$ 30490.00

In [16]:
# 9.quantas motocicletas estão vendidas pelos seus donos e quantas estão sendo vendidas por outros revendedores ?

# R: Temos que contar quantas linhas possuem a coluna 'seller_type' preenchida com o conteúdo 'individual'
# e quantas estão preenchidas com o conteúdo 'dealer'. 
# Uma das maneiras de fazermos esse cálculo é agrupar os dados pela coluna 'seller_type', e depois
# realizar uma contagem nos dados

df_grouped = df[['id', 'seller_type']].groupby('seller_type')
df_grouped = df_grouped.count().reset_index()
df_grouped = df_grouped.rename(columns={'id': 'count'})
df_grouped

  seller_type  count
0      Dealer      6
1  Individual   1055

In [17]:
print(f'Dessa forma, temos {df_grouped.loc[0, "count"]} motos sendo vendidas por revendedores')
print(f'E temos {df_grouped.loc[1, "count"]} motos sendo vendidas por seus donos')

Dessa forma, temos 6 motos sendo vendidas por revendedores
E temos 1055 motos sendo vendidas por seus donos

In [18]:
# 10. Qual é a média de valores das motos na base me dados ?

# R: Basta calcularmos a média dos valores da coluna 'selling_price'.
# Uma maneira de realiza esse cálculo é selecionar os dados da coluna 'selling_price' e utilizar a função 'mean()'

media = df['selling_price'].mean()
#media

print(f'o valor da média do preço de venda de motos é de U$$ {media:.2f}')

o valor da média do preço de venda de motos é de U$$ 59638.15

In [19]:
# 11. Qual é a média de ano das motos cadastradas dentro da base de dados?
# R: Basta calcularmos os valores que estão na coluna 'year'

media_y = df['year'].mean()
#media_y

print(f'a média dos anos das motos da base de dados é {media_y:.2f} !')

a média dos anos das motos da base de dados é 2013.87 !

In [20]:
# 12. Qual é a média de quilometragem das motos cadastradas dentro da base de dados ?
# R: Basta calcularmos a média dos valores da coluna 'km_driven'

media_km = df['km_driven'].mean()
# media_km

print(f'A média de quilometros percorridos das motos da base de dados é de {media_km:.2f}')

A média de quilometros percorridos das motos da base de dados é de 34359.83

In [21]:
# 13. Existem quantas motos dentro da base de dados que são motos de um único dono ?
# R: Selecionamos as linhas que possuem a coluna 'owner' igual '1st owner' e depois fazer a contagem da qtd de linhas

# var        df df coluna   ==  dados col   fazendo contagem pela coluna 'id', que está no shape 0
unico_dono = df[df['owner'] == '1st owner'].shape[0]
# unico_dono

print(f'A base de dados possui {unico_dono} motos de um único dono.')

A base de dados possui 924 motos de um único dono.

In [22]:
# 14. As motos com maior quilometragem são as motos mais baratas do dataset?

# R: Aqui a ideia será categorizar as motos conforme a quantidade de quilometros percorridos.
# A cada 5 mil quilômetros será criada uma nova categoria.
# E depois, iremos agrupar as categorias e tirar a média de cada categoria, para verificarmos 
# qual é a categoria que tem a menor média de valor.

df.head()

,id,name,selling_price,year,seller_type,owner,km_driven,ex_showroom_price
0,0,Royal Enfield Classic 350,175000.0,2019,Individual,1st owner,350,NaN
1,1,Honda Dio,45000.0,2017,Individual,1st owner,5650,NaN
2,2,Royal Enfield Classic Gunmetal Grey,150000.0,2018,Individual,1st owner,12000,148114.0
3,3,Yamaha Fazer FI V 2.0 [2016-2018],65000.0,2015,Individual,1st owner,23000,89643.0
4,4,Yamaha SZ [2013-2014],20000.0,2011,Individual,2nd owner,21000,NaN

In [23]:
# Função que criará as classes 
def create_km_class(km_driven):
    #cria a categoria a cada 5 mil Km percorridos
    return math.ceil(km_driven / 5000)

In [24]:
# Aplica a classificação das motocicletas 
df['km_class'] = df['km_driven'].apply( lambda km_driven: create_km_class(km_driven) )
df.head()

,id,name,selling_price,year,seller_type,owner,km_driven,ex_showroom_price,km_class
0,0,Royal Enfield Classic 350,175000.0,2019,Individual,1st owner,350,NaN,1
1,1,Honda Dio,45000.0,2017,Individual,1st owner,5650,NaN,2
2,2,Royal Enfield Classic Gunmetal Grey,150000.0,2018,Individual,1st owner,12000,148114.0,3
3,3,Yamaha Fazer FI V 2.0 [2016-2018],65000.0,2015,Individual,1st owner,23000,89643.0,5
4,4,Yamaha SZ [2013-2014],20000.0,2011,Individual,2nd owner,21000,NaN,5

In [25]:
len(df['km_class'].unique())

32

In [26]:
df_grouped = df[['km_class', 'selling_price']].groupby('km_class')
df_grouped = df_grouped.mean().sort_values('selling_price').reset_index()
df_grouped.head()

   km_class  selling_price
0       130        10000.0
1       176        15000.0
2        24        16250.0
3       100        19994.5
4        18        20400.0

Como podemos observar, as motos com a maior quilometragem não são as mais baratas na média.
Visto que a maior classificação com relação à quilometragem percorrida é 177.

In [27]:
# Salvando Dataset
# df.to_csv('C:\\Users\\mlsil\\OneDrive\\Documentos\\repos\\fundamentos_programacao\\BIKE DETAILS CLEAR.csv', index=False)